@import '../../../styles/settings.scss';

.root {
  background: #a4b0be;
  display: flex;
  justify-content: space-between;

  .phone {
    margin: 10px;

    p {
      margin: 0;
    }
  }

  .cart {
    display: flex;
    margin: 10px;

    button {
      padding: 0;

      .cartContent {
        background: $background-light;
        padding: 5px 10px;
        margin-left: 2px;
        border-radius: 5px;
      }
    }
  }
}
