@import '../../../styles/settings.scss';

.root {

  .productDetails {
    display: flex;
    flex-direction: column;

    .productTitle {
      font-weight: bold;
    }

    .notes {
      background: $background-light;
      padding: 5px;
    }
  }
}
