@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  margin: 35px auto;

  .title {
    @include title;
  }

  .paper {
    display: flex;

    .card {
      margin: 20px;
      padding: 10px;

      .productDetails {
        display: flex;
        flex-direction: column;

        .productTitle {
          font-weight: bold;
        }

        .notes {
          background: $background-light;
          padding: 5px;

        }
      }

      .total {
        font-weight: bold;
      }
    }
  }
}
