@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  margin: 35px auto;

  .title {
    @include title;
  }

  .paper {
    display: flex;

    .card {
      margin: 20px;
      padding: 10px;
    }

    .products {
      order: 2;
    }

    .total {
      order: 3;
    }

    .billing {
      order: 1;
    }
  }
}
