@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  background: $font-light;
  padding-top: 15px;
  text-align: center;

  .title {
    @include title;
  }

  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 15px;

    .contactForm {
      flex: 1;
      margin-right: 30px;
    }

    // .content {
    // }
  }
}

@media (max-width:576px) {

  .root {

    .container {

      .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: inherit;

        .contactForm {
          margin: 0;
        }

        .contactDetails {
          margin-top: 15px;
        }
      }
    }
  }
}
