@import '../../../styles/settings.scss';

.root {

  .toolbar {
    justify-content: space-between;
    position: relative;

    .title:hover {
      background-color: transparent;
    }

    .menu {

      button {
        font-size: 1rem;
        padding: 15px;

        &:hover {
        color: $font-light;
        }
      }
    }

    .mobile {
      display: none;

      &.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: transparentize($color: $font-light, $amount: 0.1);
        padding: 10px;
      }
    }
  }

}
