@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  text-align: center;

  .title {
    @include title;
  }

  .productsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px;
  }
}
