@import '../../../styles/settings.scss';

.root {
  background: $background-mid;
  margin-top: 35px;
  padding-top: 15px;

  .bottomBar {
    display: flex;
    justify-content: space-around;

    .socialMedia {

      ul {
        list-style: none;
        display: flex;

        a {
          color: $font-light;
          margin: 0 5px;
          font-size: 1em;

          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}
