@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  margin: 35px auto;

  .title {
    @include title;
  }

  .tableContainer {
    padding: 20px;
  }

  .table {

    .notesWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .notes {
        padding: 5px;
        margin-left: 30px;
        flex: 2;
      }
    }

    .delete {
      margin-left: 20px;
    }
  }
}
