@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  margin: 35px auto;

  .title {
    @include title;
  }

  .tableContainer {
    padding: 20px;
  }

  .table {

    .delete {
      margin-left: 20px;
    }
  }
}
